html,
body {
    /* font-size: 14px; */
    font-size: 14pt;
    height: 100%;
}

#root,
.all {
    height: 100%;
    /* width: 100vw; */
    display: flex;
    align-items: stretch;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.95em;
}

h6 {
    font-size: 0.9em;
}

p {
    font-size: 1em;
}

/* Flex on*/
/*  flex-direction */
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/*  flex-wrap */
.wrap {
    display: flex;
    flex-wrap: wrap;
}

.nowrap {
    display: flex;
    flex-wrap: nowrap;
}

/*  flex-flow */
.rowwrap {
    display: flex;
    flex-flow: row wrap;
}

.rownowrap {
    display: flex;
    flex-flow: row nowrap;
}

.columnwrap {
    display: flex;
    flex-flow: column wrap;
}

.columnnowrap {
    display: flex;
    flex-flow: column nowrap;
}

/*  justify-content */
.j_content_start {
    display: flex;
    justify-content: start;
}

.j_content_end {
    display: flex;
    justify-content: end;
}

.j_content_center {
    display: flex;
    justify-content: center;
}

.j_content_between {
    display: flex;
    justify-content: space-between;
}

.j_content_around {
    display: flex;
    justify-content: space-around;
}

.j_content_evenly {
    display: flex;
    justify-content: space-evenly;
}

/* align-items */

.a_item_start {
    display: flex;
    align-items: start;
}

.a_item_center {
    display: flex;
    align-items: center;
}

.a_item_baseline {
    display: flex;
    align-items: baseline;
}

.a_item_stretch {
    display: flex;
    align-items: stretch;
}

/* align-self */
.a_self_start {
    display: flex;
    align-self: start;
}

.a_self_center {
    display: flex;
    align-self: center;
}

.a_self_baseline {
    display: flex;
    align-self: baseline;
}

.a_self_stretch {
    display: flex;
    align-self: stretch;
}

/* align-content */
.a_content_start {
    display: flex;
    align-content: start;
}

.a_content_center {
    display: flex;
    align-content: center;
}

.a_content_baseline {
    display: flex;
    align-content: baseline;
}

.a_content_stretch {
    display: flex;
    align-content: stretch;
}

.grow0 {
    flex-grow: 0;
}

.grow1 {
    flex-grow: 1;
}

/* 
flex-basis: 30%|50%|cntent;
flex-shrink: 0|1|2+
flex-grow: 0|1|2+
order: -1|0|2 порядковый номер
*/

/* Flex off */
header,
footer {
    width: calc(100% + 25px);
    
}

header {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    flex-direction: column;
transform: translate(-5px, -5px);

}

footer {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    flex-direction: column;
    transform: translate(-5px, 5px);
}